# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyCharm / VSCode
.idea/
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and databases
*.log
*.sql
*.sqlite

# Pickle files
*.pkl

# Matplotlib plots
*.png

# VSCode settings
.vscode/

# Data backups
*.bak

# Spyder project settings
.spyderproject
.spyderworkspace

# CSVs in case you have large temp datasets
*.csv
!data/high_popularity_spotify_data.csv
!data/low_popularity_spotify_data.csv
